body{
    font-family: "Montserrat", sans-serif;
}

div.my-carousel-container{
    min-height: 700px;
    min-width:800px ;
    
}

div.my-carousel-images{
    min-height: 540px;
}

.picture {
    width:100%;
    object-fit:cover;
    display: none;
}

.picture.active{
    display: block;
}

.my-thumbnails{
    background-color: violet;
    min-height: 160px;
    align-items:center;
    
}

.thumbnail-item{
    width:10%;
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%);
    filter: brightness(.4);
}

.thumbnail-item.active{
    filter:brightness(1);
    border: 3px rgb(197, 197, 197) solid;
}

.thumbnail-box{
    width:calc(100% / 10 );
    display:inline-block;
    
}

div.my-previous,
div.my-next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

div.my-previous{
    left: 1rem;
}

div.my-next{
    right: 1rem;
}

div.my-previous > span::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f7fb";
    line-height: 30px;
}

div.my-next > span::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f520";
    line-height: 30px;
}